<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>likamagnet</title>
  <style type="text/css">
    body { width:600px; margin:150px auto; text-align:center; }
    a { text-decoration:none; color:#00a500; }
    #wtf { color: #00a500; font-size: 70%; }
    #about { font-size: 12px; text-align:left; }
    #onemorething {color: #888; }
    input#url { width:420px; font-family: monospace; }
    #colophon { font-style: italic; }
    #result { margin: 10px 0; }
  </style>
</head>
<body>
  <h1>likamagnet<sup><a id="wtf" href="#">?</a></sup></h1>
  <div id="about" style="display:none;">
    <p>
      <a href="http://ru.wikipedia.org/wiki/Magnet-ссылка">Magnet-ссылки</a> — самый быстрый способ поделиться торрентом (или другим P2P с поддержкой magnet). Но они слишком длинные и незапоминаемые (ЧПУ до них ещё не дошли). Да и твиттер не понимает, что это именно <i>ссылки</i>
    </p>
    <p>
      Схема получения заветного magnet для укорачивания: <b>Правый клик на желаемый торрент → "Копировать Magnet-URI"</b> (точно есть в <a href="http://utorrent.com">uTorrent</a> и <a href="http://transmissionbt.com">Transmission</a>). Или просто копируйте его с The Pirate Bay, если торрент оттуда
    </p>
    <p>
      На выходе получите аккуратненькую ссылкочку с постоянным (пока мне не надоест оплачивать домен) редиректом на магнэт без упоминания трекеров. Да здравствует <a href="http://ru.wikipedia.org/wiki/DHT">DHT</a>!
    </p>
    <p>
      <i id="onemorething">Ах да, у нас есть ещё как-бы-API: <u>http://{{ siteUrl }}/-[magnet]</u>. А для как-бы-статистики припишите к короткой ссылке плюсик</i>
    </p>
  </div>
  <form id="theone">
    <label for="url">
      <b>got magnet?</b>
    </label>
    <input type="text" name="url" id="url">
    <input type="submit" value="shrink it">
  </form>
  <div id="result"></div>
  <p id="colophon">
    <a href='http://twitter.com/{{ userTwitter }}' rel="me">
      @{{ userTwitter }}
    </a>
  </p>
  <script type="text/javascript" src="/static/build/ender.min.js"></script>
  <script type="text/javascript">
    $.domReady(function(){
      $("a#wtf").bind('click', function(){
        $("div#about").toggle();
      });
      $('#theone').bind('submit', function(event) {
        $.ajax({
          "url": '/-'+$('#url').val(),
          "method": 'post',
          "type": 'json',
          "error": function (resp){
            $('#result').text(JSON.parse(resp.response).error);
          },
          "success": function (resp){
            $('#result').text('http://{{ siteUrl }}/'+resp.code);
          }
        });
        event.preventDefault();
      });
    });
  </script>
</body>
</html>